{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1,       // Means warning
    "prettier/prettier": 2 // Means error
  },
  "env": {
    "browser": true,
    "node": true
  }
}
